# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Database
data.db

# Logs
*.log

# Ignore tutorial folder
tutorial-info/